.even {
  background-color: grey;
}

tbody tr {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: auto;
}

.section {
  width: 50%;
  float: left;
}

#detailDiv {
  clear: both;
}

form {
  width: 50%;
}

#picDiv img {
  width: 250px;
  height: auto;
}

#content {
  height: 800px;
  overflow: auto;
}

.header {
  padding-top: 300px;
  height: 20%;
  width: auto;
  background-image: url("https://images4.alphacoders.com/643/thumb-1920-6438.jpg");
  background-image:
}
